html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#nprogress .bar {
    background: #7BA05B;
    height: 3px;
}
  
#nprogress .spinner {
    display: none;
} 